<div class="wrapper ">
  <div class="sidebar" data-color="blue">
      <!--
  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
      <div class="logo">
          <a href="http://www.creative-tim.com" class="simple-text logo-mini">
              FT
          </a>
          <a href="http://localhost:4200" class="simple-text logo-normal">
              FashionMart
          </a>
      </div>
      <div class="sidebar-wrapper">
          <ul class="nav">
              <li class="active">
                  <a routerLink="/dashboard">
                      <i class="now-ui-icons design_app"></i>
                      <p>Dashboard</p>
                  </a>
              </li>
              <li>
                <a routerLink="/dashboard/userprofile">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
              <li>
                  <a routerLink="/dashboard/notifications">
                      <i class="now-ui-icons ui-1_bell-53"></i>
                      <p>Notifications</p>
                  </a>
              </li>
              <li>
                  <a routerLink="/dashboard/myorders">
                      <i class="now-ui-icons shopping_bag-16"></i>
                      <p>My Orders</p>
                  </a>
              </li>
              <li>
                <a routerLink="/dashboard/mywishlist">
                    <i class="now-ui-icons ui-2_favourite-28"></i>
                    <p>My Wishlist</p>
                </a>
              </li>
              <li class="active-pro">
                  <a href="../examples/upgrade.html">
                      <i class="now-ui-icons arrows-1_cloud-download-93"></i>
                      <p>Logout</p>
                  </a>
              </li>
          </ul>
      </div>
  </div>
